* {
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    font-size: 36px;
    font-weight: 550;
    color: black;
    /* text-shadow: 0px 1px 1px black; */
    margin-bottom: 5px;
}

.nav-item {
    transition: all 1s ease;
    border-radius: 10px;
}

.nav-item:hover {
    background-color: orange;
    color: white;
}

.carousel-item {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/background\ img.png');
    background-size: cover;
    height: 100vh;
    padding-bottom: 50px;
    /* border: 1px solid black; */
}

.carousel-item h2 {
    font-size: 4rem;
    color: orangered;
}

.carousel-item p {
    font-size: 2rem;
}

.carousel-item button {
    width: 40%;
    height: 50px;
    font-size: 2rem;
    padding-bottom: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background-color: orange;
}


.carousel-caption {
    /* border: 1px solid black; */
    margin-bottom: 5%;
    /* width: 75%; */
}



.container {
    /* border: 1px solid black; */
    height: 100%;
}



.book-heading {
    /* border: 1px solid black; */
    height: 20%;

}

.book-heading h1 {
    font-size: 7rem;
    font-weight: 700;
    text-shadow: 5px 5px 5px #9e9c9c;
}

.book-section {
    /* border: 1px solid black; */
    height: 80%;
}

.book-img {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid rgb(184, 184, 184);
    box-shadow: 5px 10px 18px #888888;
}

.book-form input {
    width: 100%;
    height: 50px;
    box-shadow: 5px 10px 18px #888888;
}


.book-form textarea {
    width: 95%;
    margin-left: 15px;
    /* height: 50px; */
    box-shadow: 5px 10px 18px #888888;
}

#book-button {
    width: 50%;
    height: 50px;
    background-color: orange;
    border-radius: 10px;
    margin-left: 15px;
    transition: all 1s ease;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
}

#book-button:hover {
    width: 50%;
}

.packages {
    height: 200vh;
    margin-top: 50px;
}

.packages-heading {
    height: 10%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.packages-heading h1 {
    font-size: 3rem;
    /* margin-left: 75%; */
    width: auto;
}

.packages-row1 {
    height: 45%;
    /* border: 1px solid black; */
}

.packages-row2 {
    height: 45%;
    /* border: 1px solid black; */
}

.service-card{
    width: 100%;
    height: 50%;
    /* border: 1px solid black; */
    border-radius: 10px;
}

.services-row1{
    margin-top: 50px;
}

.services-row2{
    margin-top: 50px;
}

#service-icon{
    font-size: 5rem;
    color: orange;
}

.about-us-heading{
    width: 100%;
    height: 100px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.About-Us-inner-heading{
    padding-left: 10px;
    margin-top: 20px;
}
.About-Us-text{
    padding-left: 10px;
    margin-top: 20px;
}

.About-Us-button{
    padding-left: 10px;
    margin-top: 20px;
}

.card{
    box-shadow: 5px 10px 18px #888888;
}

.gallery-card{
  transition: all 1s ease;
  cursor: pointer;
}

.gallery-card:hover{
    transform: scale(1.2);
}

@media (width<1300px) {

    .carousel-item h2 {
        font-size: 3rem;
        color: orangered;
    }

    .carousel-item p {
        font-size: 2rem;
    }

    .carousel-item button {
        font-size: 1rem;
        width: 20%;
        height: 45px;
        padding-bottom: 10px;
    }

    .card{
        margin-top: 50px;
       
    }

    .services{
        margin-top: 200px;
    }

    
.packages-row1 {
    height: 45%;
    /* border: 1px solid black; */
    margin-top: 70px;
}

.packages-row2 {
    height: 45%;
    /* border: 1px solid black; */
    margin-top: 70px;
}

}

@media (width<950px) {
    .carousel-item button {
        font-size: 0.8rem;
        width: 20%;
        height: 45px;
        padding-bottom: 10px;
    }
}

@media (width<768px) {
    .book {
        height: 200vh;
    }


    .book-heading {
        height: 10%;
    }

    .book-section {
        height: 90%;
    }

    .packages{
        height: 500vh;
    }

    .packages-heading {
        height: 4%;
    }

    .packages-row1 {
        height: 48%;
        /* border: 1px solid black; */
         /* margin-top: 350px; */
    }
    
    .packages-row2 {
        height: 48%;
        /* border: 1px solid black; */
        margin-top: 350px;
    }

    .services{
        margin-top: 800px;
    }

   


}

@media (max-width:400px) {
    .book-heading h1 {
        font-size: 5rem;
    }

    #book-button {
        width: 50%;

    }

    #book-button:hover {
        width: 95%;
    }
    footer{
        margin-top: 70px;
    }
}